{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm p-4">

<h1 class="mb-3 text-success">About FreshMart</h1>

<p>
FreshMart is an online fruits and vegetables shopping platform built using Django.
Users can browse products, add items to cart, place orders, and track order history.
</p>

<p>
This project was created as part of a Full Stack Web Development internship to demonstrate practical skills in backend, frontend, authentication, database handling, and deployment readiness.
</p>

<p>
FreshMart is also inspired by helping local fruit & vegetable vendors grow digitally.
</p>

</div>

{% endblock %}