{% extends 'base.html' %}

{% block content %}

{% if query %}
<h4 class="mb-3">Search Results for "{{ query }}"</h4>
{% else %}
<h2 class="mb-4">All Products</h2>
{% endif %}

<div class="row">

{% for product in products %}
<div class="col-md-4 mb-4">

    <div class="card h-100 shadow-sm">

        <img src="{{ product.image.url }}" class="card-img-top" height="220">

        <div class="card-body">

            <h5>{{ product.name }}</h5>
            <p>₹{{ product.price }}</p>
            <p>{{ product.category }}</p>
            <p>Stock: {{ product.stock }}</p>

            {% if product.stock > 0 %}
                <a href="/add-to-cart/{{ product.id }}/" class="btn btn-success">
                    Add to Cart
                </a>
            {% else %}
                <button class="btn btn-danger" disabled>
                    Out of Stock
                </button>
            {% endif %}

        </div>

    </div>

</div>
{% endfor %}

</div>

{% if not products %}
<div class="alert alert-warning">
    No matching products found.
</div>
{% endif %}

{% endblock %}